@* ChangePassword - Allows the user to change their password. *@

@model int
@{ ViewBag.Title = "Change Email Address"; }

@* Define page language. *@
<html lang="en"><body>
    <h2>Change Password</h2>
    @Html.ActionLink("Help", "Help", "AccountManagement")<br />

    @* This button returns to the management page without making changes. *@
    @Html.ActionLink("Return without changing", "AccountManagement",
                     "AccountManagement", null)<br />

    @* If the model's ID indicates an error in a previous submission,
        print the appropriate error. *@
    @switch (Model)
    {
        case -1:
        {
            <b>The provided passwords do not match.</b><br/>
            break;
        }
        case -2:
        {
            <b>
                The password you provided is the same as your current one.
            </b><br/>
            break;
        }
    }

    To change your password, enter a new one into both of the boxes below.

    @using (Html.BeginForm("ProcessPasswordChange", "AccountManagement",
                           FormMethod.Post))
    {
        <h3>Password</h3>
        @Html.Password("passwd", "", new { id = "password",
                                           Textmode = "Password",
                                           required = "required",
                                           title = "Password" })

        <h3>Confirm Password</h3>
        @Html.Password("passwd2", "", new { id = "password",
                                           Textmode = "Password",
                                           required = "required",
                                           title = "Confirm Password" })
        <br/>
        <input type="submit" value="Change" />
    }
</body></html>