@model IEnumerable<PickUpOrder.Models.MenuItem>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the menu.</h2>

<table>
    <thread>
        <tr>
            <td>Name</td>
            <td>Price (cents)</td>
        </tr>
    </thread>
    @foreach (PickUpOrder.Models.MenuItem item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
        </tr>
        <tr>
            <td>@item.Description</td>
        </tr>
    }
</table>