@* AddCategory - A form page that creates a new Category. *@

@using PickUpOrder.Models;
@model Category
@{ ViewBag.Title = "Add Category"; }

@* Define page language. *@
<html lang="en"><body>
    <h2>Creating a new category...</h2>
    @Html.ActionLink("Help", "Help", "MenuEditor")<br/>

    @* A link to return without saving changes. *@
    @Html.ActionLink("Leave without saving", "MenuEditor", "MenuEditor")

    @using (Html.BeginForm("AddCategory", "MenuEditor", FormMethod.Post))
    {
        <h3>Name</h3>
        @Html.TextBoxFor(m => m.CategoryName, new { required = "required",
                                                    title = "Category"})
        <br/>
        <input type="submit" value="Add to menu" />
    }
</body></html>