@* AddCategory - A form page that creates a new Category. *@

@using PickUpOrder.Models;
@{
    ViewBag.Title = "Add Category";
}

@* A link to return without saving changes. *@
@Html.ActionLink("Leave without saving", "MenuEditor", "MenuEditor")

<h2>Creating a new category...</h2>