@* AddItem - A form page that creates a new MenuItem. *@

@using PickUpOrder.Models;
@{
    ViewBag.Title = "Add Item";
}

@* A link to return without saving changes. *@
@Html.ActionLink("Leave without saving", "MenuEditor", "MenuEditor")

<h2>Creating a new item...</h2>