@* DeleteItem - A confirmation page for category deletion. *@

@using PickUpOrder.Models;
@model Category
@{
    ViewBag.Title = "Add Item";

    var toDelete = ViewBag.toDelete;

    // Get the dropdown list, but remove the one that is about to be deleted.
    var dropdown = Category.GetCategoryDropdown();
    for(int i = 0; i < dropdown.Count; i++)
    {
        if(int.Parse(dropdown[i].Value) == toDelete.CategoryID)
        {
            dropdown.Remove(dropdown[i]);
            break;
        }
    }
}

@* A link to return without saving changes. *@
@Html.ActionLink("Leave without deleting", "MenuEditor", "MenuEditor")

<h2>WARNING!</h2>
You are removing the menu category <b>@toDelete.CategoryName</b>.<br/>
<b><i>This action is irreversible.</i></b>
<br/><hr/>
All current members will be moved to the category you select below.
<br/><hr/>

@using (Html.BeginForm("DeleteCategory", "MenuEditor", (Category) toDelete, FormMethod.Post))
{
    @* This picks the category all current members will be moved to. *@
    @Html.DropDownList("newCat", dropdown, "Pick a category",
                       new { required = "required" })
    <br/><br/>
    <input type="submit" value="Delete" />
}