@* DeleteItem - A confirmation page for item deletion. *@

@using PickUpOrder.Models;
@model MenuItem
@{
    ViewBag.Title = "Add Item";
}

@* A link to return without saving changes. *@
@Html.ActionLink("Leave without deleting", "MenuEditor", "MenuEditor")

<h2>WARNING!</h2>
You are deleting <b>@Model.Name</b> from the menu.<br/>
<b><i>This action is irreversible, and the item cannot be recovered.</i></b>
<br/><hr/>
Please note that this will also remove the item from any customer orders
that have been started but not submitted.
<br/>
However, the item will remain in all orders that have been submitted.
<br/>
<hr/>
<b>
    <u>
        @Html.ActionLink("Delete", "NullifyItem", "MenuEditor", Model, null)
    </u>
</b>