@* Help - Help for the Registration page. *@

@{
    ViewBag.Title = "Registration help";
}

<h2>Help</h2>
@Html.ActionLink("Back to previous page", null, null, null,
                 new { href = Request.UrlReferrer })
<br />
The registration page will add your account to our records
and sign you into our system for one hour.
<br />
<br />
To register, enter your email and desired password into given boxes.
Reenter your password in the "Confirm Password" box
(to ensure it was entered correctly) and select "Register".
<br />
If you have already registered, you should instead go to the
@(Html.ActionLink("login page", "Login", "Login")).
<br />
<br />
Common pratfalls:
<ul>
    <li>
        The email box must contain an <i>entire</i> email address.
    </li>
    <li>
        Passwords are case-sensitive.
    </li>
</ul>
<hr />
<small>Help version 1.1</small>