@* Help - Help for the Login page. *@

@{
    ViewBag.Title = "Login help";
}

<h2>Help</h2>
@Html.ActionLink("Back to previous page", null, null, null,
                 new { href = Request.UrlReferrer })
<br/>
The login page will sign you into our system for one hour.
<br/><br/>
To log in, enter your email and password into given boxes and select "Log in."
<br/>
If you have never registered, you should instead go to the 
@(Html.ActionLink("registration page", "Registration", "Registration")).
<br/><br/>
Common pratfalls:
<ul>
    <li>
        The email box MUST contain the <i>entire</i> address
        that was used to register the account.
    </li>
    <li>
        Passwords are case-sensitive.
    </li>
</ul>