@* Login - A form that takes credentials and attempts to retrieve a matching user. *@

@using PickUpOrder.Models
@model Account
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@* If the model's ID indicates an error in a previous submission,
    print the appropriate error. *@
@if (Model.UserID == -1)
{
    <b>An invalid email address was provided.</b>
}
@if (Model.UserID == -2)
{
    <b>The email address provided was not in our records.</b>
}
@if (Model.UserID == -3)
{
    <b>The password provided did not match our records.</b>
}

@* A form that gets user's login information.*@
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <h3>Email Address</h3>
    @Html.TextBoxFor(m => m.Email, new { required = "required" })

    <h3>Password</h3>
    @Html.Password("passwd", "", new { id = "password", Textmode = "Password" })
    <br/>
    <input type="submit" value="Log In" />
}