@* Login - A form that takes credentials and attempts to retrieve a matching user. *@

@using PickUpOrder.Models
@model Account
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@* A form that gets user's login information.*@
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <h3>Email Address</h3>
    @Html.TextBoxFor(m => m.Email, new { required = "required" })

    <h3>Password</h3>
    @Html.TextBoxFor(m => m.PasswordHash, new { required = "required" })
    <br/>
    <input type="submit" value="Log In" />
}