@* Reset password - Allows the user to set a new password for their account.*@

@model int
@{ViewBag.Title = "Password Reset";}

@* Define page language. *@
<html lang="en"><body>
    <h2>Reset your password</h2>
    @Html.ActionLink("Help", "Help", "Login")<br/>

    @* If the model's ID indicates an error in a previous submission,
        print the appropriate error. *@
    @switch (Model)
    {
        case -1:
        {
            <b>An invalid email address was provided.</b>
            break;
        }
        case -2:
        {
            <b>The email address provided was not in our records.</b>
            break;
        }
        case -3:
        {
            <b>The provided passwords do not match.</b>
            break;
        }
    }

    @* A form that gets the user's desired login information.*@
    @using (Html.BeginForm("Reset", "Login", FormMethod.Post))
    {
        <h3>Email Address</h3>
        @Html.TextBox("email", "", new { required = "required",
                                         title = "Email" })

        <h3>New password</h3>
        @Html.Password("passwd", "", new { id = "password",
                                           Textmode = "Password",
                                           required = "required",
                                           title = "Password"})

        <h3>Confirm new password</h3>
        @Html.Password("passwd2", "", new { id = "password",
                                           Textmode = "Password",
                                           required = "required",
                                           title = "Confirm Password"})
        <br/>
        <input type="submit" value="Reset" />
    }
</body></html>